*{
    box-sizing: border-box;
}

body{
    background-color: #212121;
    color: #fff;
}

.title{
    margin-top: 10vh;
    text-align: center;
}

.gameName{
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4vh 0 2vh;
}

.instruction{
    text-align: center;
}

.content2{
    margin: 0;
}

#game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputNumber{
    height: 25px;
    width: 200px;
    margin-bottom: 2vh;
    text-align: center;
}


.submitGuess{
    height: 50px;
    width: 150px;
    background-color: orange;
    border-radius: 10px;
    margin-bottom: 0;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.submitGuess:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.restartGame{
    margin-top: 2vh;
    height: 45px;
    width: 140px;
    background-color: #4caf50;
    border: none;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}